//Color Palete//
$black:#000000;
$blue: #7190A3;
$blackClear: #394253;
$orangeSurface:#E17248;
$brown:#673428;
$white:#FFFFFF;



body{
    margin: 0%;
    padding: 0%;
    font-family: 'Lexend', sans-serif;   
    overflow-x: hidden;  
    
    //Main Banner//
    #MainBanner{        
        width: 100%;
        height: 800px;         
        padding-top: 8%;
        background-image: url(../images/mars.png); 
        background-size: cover;     
        margin-bottom: -1%;            
        #BannerTitle{
            position: absolute;
            color:$white;
            font-weight: 700;
            font-size: 400%;
            margin-top: 7%;            
            margin-left: 5%;
        }  
        #MainPrhase{
            position: absolute;
            color:$white;
            font-style: italic;
            font-weight: 300;
            font-size: 150%;
            margin-top: 15%;
            margin-left: 5%;            
        }
        #VisitNasa{
            position: absolute;
            color: $white;
            font-weight: 300;
            left: 72%;
            top: 30%;
            a{
                color: $white;
                text-decoration: none;
                border-bottom: 1px solid $white;
            }
        }
        #NasaSocialNetworks{                       
            height: 30%;            
            position: absolute;
            left: 75%;
            top: 35%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            img{
                width: 25%;
                align-self: center;
            }
        }
        #NasaButton{
            input{
                position: absolute;
                top: 65%;
                left:5%;
                width: 20%;
                border: none;
                border-radius: 10px;
                font-size: 110%;
                font-weight: 200;
                padding: 1%;                
                background-color: $blackClear;
                color: $white;
                font-family: 'Lexend', sans-serif; 
            }
            input:hover{
                cursor: pointer;
                transform: scale(1.01);
                transition:0.8s;
            }
        }
    }
    
    //Goals//
    #ObjetivesContainer{
        width: 100%;
        height: auto;   
        color: white;    
        padding-top: 10%; 
        padding-bottom: 10%;                 
        background-color: $black;        
        #Section1{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;                                                                  
            #MepTitle{
                display: flex;
                align-self: center;
                #ObjetiveTitle{
                    font-size: 350%;
                    font-weight: 200;                
                    align-self: center;
                    margin: 0; 
                    margin-right: 5%;                                               
                }   
                #ObjetiveSubTitle{
                    font-size: 500%;
                    margin: 0;                                                         
                }     
            }
            #MepDescription{
                align-self: center;
                font-size: 150%;
                font-weight: 100;
                a{
                    font-weight: 500;
                     border-bottom: 1px solid $white;                   
                }
            }
                            
        }
        
        #Section2{
            width: 100%; 
            display: flex;
            flex-direction: row;
            justify-content: space-around;
                        
            .ObjetiveCard{
                width: 15%;
                margin: 1%; 
                padding: 1%;                               
                #GoalNumber{                    
                    width: 25%;
                    margin: 2% 0% 5% 0%;
                    font-weight: 200;
                    font-size: 250%;  
                    border-bottom: 1px solid $orangeSurface;                  
                }
                #GoalTitle{
                    font-weight: 400%;
                    font-size: 200%; 
                    margin: 0%;                   
                }
                #GoalText{
                    font-weight: 200;                    
                }
            }                                  
        }
    }

    //Background//
    #backgroundContainer{
        width: 100%;
        height: auto;        
        margin-top: -1%;
        padding-bottom: 10%;
        display: flex;
        flex-direction: column;  
        justify-content: space-around; 
        background-color: $black;                  
        
        #MEPBackground{
            display: flex;
            justify-content: center;
            color: $white;
            #ObjetiveTitle{
                font-size: 350%;
                font-weight: 200;                
                align-self: center;
                margin: 0; 
                margin-right: 5%;
            }
            #ObjetiveSubTitle{
                font-size: 500%;
            }              
        }

        .splide{
            width: 90%;
            align-self: center;                                    
        }


        .backgroundCard{                       
            width: 100%;   
            height: auto;
            display: flex;           
            justify-content: center;   
            color: $white;
            align-self: center;                                     
            .container{                                
                width: 40%;                
                display: flex;
                flex-direction: column;
                justify-content: space-around;                  
                span{
                    font-weight: 100;
                }                
                .backTitle{
                    font-size: 200%;
                    font-weight: 500;
                    border-bottom: 1px solid $orangeSurface;
                    margin: 0%;                    
                }  
                .backContext{
                    font-size: 100%;
                    font-weight: 200;
                    text-align: justify;
                }                  
            }
            img{
                width: 40%;     
                align-self: center;                                       
            } 
            img:hover{
                transform: scale(1.4);
                transition-duration: 1s;                                                
            }             
        }              
    }


    //Programs//

    #MEPPrograms{
        background-color: $black;
        color: $white;
        margin-top: -1%;
        margin-bottom: -1%;
        display: flex;  
        justify-content: center;   
        #ObjetiveTitle{
            font-size: 350%;
            font-weight: 200;                
            align-self: center;
            margin: 0; 
            margin-right: 2%;
        }
        #ObjetiveSubTitle{
            font-size: 500%;
        }       
    }


    #ProgramsContainer{
        width: 100%;
        height: auto; 
        display: flex;      
        justify-content: space-around;  
        background-color:$black;       
        
        .cardProgram{            
            width: 20%;
            height: auto;             
            padding: 1.5% 0% 1.2% 0%;                          
            display: flex;
            flex-direction: column;
            justify-content: space-around;                               
            border-bottom:2px solid rgba(153,153,153,0.27);            
            img{                
                width: 15%;
                margin-left: 2%;
            }
            a{
                text-decoration: none;
            }
            p{
                color: $white;
                margin-left: 2%;                
            }

            span{
                font-weight: 100;
            }

            .ProgramTitle{       
                width: 50%;         
                font-weight: 600;
                color: $white;  
                margin-bottom: 0%; 
                margin-left: 2%;                  
                border-bottom: 1px solid $orangeSurface;                                                           
            }
            .ProgramContent{
                color: $white;  
                margin-left: 2%; 
                font-weight: 200; 
            }
        }
    }

    #Future{
        background-color: $black;
        color: white;
        display: flex;
        flex-direction: column;
        padding:6%;
        #futureTitle{
            width: 50%;
            font-size: 200%;
            font-weight: 500;
            margin-top: -1%; 
            border-bottom: 1px solid $orangeSurface;                       
        }
        .futureText{
            font-weight: 100;
            span{
                font-weight: 500;
            }        
        }
        
        #knowMore{
            display: flex;
            width: 20%;
            justify-content: space-around;                                   
            img{
                align-self: center;
                width: 10%;
            }
            a{
                color: $white; 
                align-self: center;
                text-decoration: none;
            }
        }
    }

    #footer{
        background-color: $blackClear;
        display: flex; 
        justify-content: space-around; 
        padding: 3%;
        
        .footerSection{
            width: 30%;
            display: flex;
            flex-direction: column;            
            p{
                text-align: center;        
                font-weight: 600;
                font-size: 150%;
                color: $white;                                
            }

            .itemsNasa{
                display: flex;
                justify-content: space-around;
                a{
                    text-decoration: none;
                    color: $white;
                    font-weight: 100;
                }
            }
            
            .items{
                width: 100%;
                display: flex;  
                justify-content: flex-end;                                                                               

                img{
                    width: 20%;                                        
                }
            }
        }
    }
}


//Mobile Style//
@media(max-width:380px){
    body{
        #MainBanner{            
            background-position: 20% 20%;   
            display: flex;  
            flex-direction: column;   
            height: 500px; 
            padding-top: 20%;                                                          
            #BannerTitle{
                position: relative;
                margin: 0;
                font-size: 240%;
                padding: 10%;                
            }   
            #MainPrhase{
                position: relative;
                margin: 0;
                font-size: 90%;     
                padding: 0% 20% 10% 10%;                                                                               
            }   
            #VisitNasa{
                display: none;                             
            }    
            #NasaSocialNetworks{                                                                                 
                display: none;                               
            }
            #NasaButton{
                padding-left: 10%;                                               
                input{
                    position: relative;
                    left: 0;
                    top: 0;
                    width: 60%;
                    font-size: 80%;
                    border-radius: 5%; 
                    padding: 5%;
                }                
            }                               
        }

        #ObjetivesContainer{
            #Section1{ 
                margin-bottom: -10%;                              
                #MepTitle{
                    flex-direction: column;  
                    #ObjetiveTitle{
                        font-size: 190%;
                    }   
                    #ObjetiveSubTitle{
                        font-size: 300%;
                    }                                                      
                }
                #MepDescription{                    
                    font-size: 90%;
                    padding: 5%;
                    text-align: center;                    
                }
            }   


            #Section2{
                width: 100%;
                flex-direction: column;                
                .ObjetiveCard{
                    width: 100%;  
                    margin: 0%;    
                    padding: 0%; 
                    display: flex;
                    flex-direction: column;                     
                    margin-top: 15%;                                                                                           
                    #GoalNumber{
                        width: 40%;
                        margin: 0%;
                        align-self: center;                        
                    }
                    .centerMobile{
                        text-align: center;                  
                        padding: 2% 10% 0% 10%; 
                        font-size: 90%;                                                                                            
                    }                                                                           
                }                
            }         
        }

        //Background//
        #backgroundContainer{
            padding-top: 15%;                        
            #MEPBackground{
                flex-direction: column;
                #ObjetiveTitle{
                    font-size: 190%;
                    margin: 0%;
                }   
                #ObjetiveSubTitle{
                    font-size: 250%;
                    margin: 0%;
                    text-align: center;                    
                }                               
            }

            .splide{                                
                .backgroundCard{
                    flex-direction: column;
                    .container{                        
                        width: 80%;  
                        height: auto;
                        align-self: center;
                        margin-top: 15%;
                        p{
                            text-align: center;
                        }
                        .backTitle{
                            text-align: center;                            
                        }                      
                        .backContext{
                            text-align: center;
                            font-size: 90%;
                        }                        
                    }                    
                }
            }
        }

        #MEPPrograms{
            flex-direction: column;
            padding-top: 20%;
            #ObjetiveTitle{
                font-size: 200%;
                margin: 0%;
            }   
            #ObjetiveSubTitle{
                font-size: 250%;
                margin: 0%;
                text-align: center;                    
            }   

        }

        #ProgramsContainer{
            flex-direction: column;                      
            .cardProgram{
                width: 90%;
                align-items: center;  
                margin-top: 20%;  
                padding-left: 5%;
                padding-right: 5%;
                border-bottom: none;                              
                .ProgramTitle{
                    width: 100%;                                        
                    text-align: center;                    
                }
                p{
                    font-size: 90%;
                    text-align: center;
                }
            }

        }

        #Future{      
            padding-top: 30%; 
            padding-bottom: 30%;       
            #futureTitle{
                display: flex;
                flex-direction: column;
                align-self: center;
                width: 90%;
                text-align: center;
                font-weight: 200;
                span{
                    font-weight: 500;
                }
            }   
            
            .futureText{
                text-align: center;
            }

            #knowMore{
                width: 100%;
                a{
                    border-bottom: 1px solid $white;
                }
                img{
                    display: none;
                }
            }
        }

        #footer{
            flex-direction: column;

            .footerSection{
                width: 100%;
                margin-top: 15%;

                .itemsNasa{
                    flex-direction: column;
                    align-items: center;
                    a{
                        margin-bottom: 10%;
                    }
                }

                .items{
                    width: 50%;
                    flex-direction: column;                    
                    align-self: center;     
                    align-content: center;                                                       
                    a{
                        align-self: center;                        
                        margin-top: 4%;
                        display: flex;
                        justify-content: center;
                    }
                    img{                        
                        display: inline;
                        width: 20%;
                        margin-bottom: 50%;                        
                    }                    
                }
            }
        }
    }
}